#outdoors {
  background: url(header.jpg) center bottom no-repeat;
  background-size: cover;
  height: 600px;
}

/* this should be in base */
.fill-midnight {
  background-color: #142736;
}

/*********  STICKY NAV  *********/
.sticky-nav ul li {
  float: right;
  text-align: right;
}
.sticky-nav ul li:first-of-type {
  padding-right: 0px;
}

.sticky-nav ul li a {
  color: #909090;
}

.sticky-nav ul li a.active {
  color: rgba(55, 132, 186, 1.000);
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 2000;  
    border-top: 0;  
} 

.blog-item-small span.upper {
  display: block;
  text-transform: uppercase;
}

.bullet-list p, .bullet-list h3 {
  padding-left: 60px;
}

/* Summary row @2x icons
------------------------------------------------------- */
.summary-row ul li div {
  background-color: rgba(165, 215, 255, 0.150);
  height: 80px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.summary-row ul li a { display: block;}
.summary-row ul li a h3 {  color: white;}

.summary-row-icon {
  background: url('icons@2x.png');
  background-repeat: no-repeat;
  background-size: 480px 80px;
}

.summary-row-icon.icon-1 {  background-position: 0px 0px; }
.summary-row-icon.icon-2 {  background-position: -80px 0px; }
.summary-row-icon.icon-3 {  background-position: -160px 0px; }
.summary-row-icon.icon-4 {  background-position: -240px 0px; }
.summary-row-icon.icon-5 {  background-position: -320px 0px; }
.summary-row-icon.icon-6 {  background-position: -400px 0px; }


/* Customer logos
------------------------------------------------------- */
.customer-logos {
  width: 12.5%;
  float: left;
}

/* Examples
------------------------------------------------------- */
.demo-ft {
  position: absolute;
  top: 40px;
  right: -10%;
}

.demo-wp {
  position: absolute;
  top: 40px;
  left: -25%;
}

#wp .icon.check:before {
  color: #142736;
}
#usatoday .icon.check:before {
  color: #3784ba;
}

.demo-guardian {
  position: absolute;
  top: 30px;
  right: -15%;
}
.demo-guardian video {
  margin-bottom: -5px;
  width: 100%;
  height: auto;
}
.demo-guardian video.device-content {
  width: 100%;
  max-height: none;
}

.demo-usatoday {
  position: absolute;
  top: 60px;
  left: -30%;
}

.demo-circa {
  position: absolute;
  top: 60px;
  right: -25%;
}

.demo-reuters {
   position: absolute;
   top: -0px;
   right: -100px;
}

.demo-circa {
  height: 880px;
  width: 300px;
  position: absolute;
  background: url(circa.png) right 70px no-repeat;
  background-size: 100% auto;
  right: 0px;
  top:  -100px;
  margin-right: auto;
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.demo-lemonde {
  position: absolute;
  top: 80px;
  left: -40%;
}

.demo-zeit {
  position: absolute;
  top: 50px;
  right: -30%;
}


.device.device-browser {
  width: 100%;
}

.device-browser .device-content img {
  border-radius: 0 0 10px 10px;
  max-height: 1000px;
  width: 100%;
}

/* tablet */
.demo-ft  .device.device-tablet-v .device-content  {
    max-height: 1200px;
}

.device.device-browser .device-content {
    border-radius: 0 0 10px 10px;
    max-height: 1200px;
}

/********** MOBILE SECTION **********/

#mobile .mobile-iphone {
  height: 880px;
  width: 300px;
  position: absolute;
  background: url(iphone.png) right 70px no-repeat;
  background-size: 100% auto;
  right: 0px;
  top:  -100px;
  margin-right: auto;
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}


/********** DESIGN SECTION **********/
.studio {
  background: url(studio.png) left top no-repeat;
  display: block;
  background-size: 100% auto;
  top: 260px;
}

#design-tools .icon.check:before {
  color: #39abc7; 
}

.studio-features p, .studio-features h3, .bullet-list p, .bullet-list h3 {
  padding-left: 60px;
}
.studio-features li, .bullet-list li {
  padding-bottom: 30px;
}



/********** CONTACT SECTION **********/
#contact .half {
  z-index: -10;
  position: absolute;
  width: 50%;
  height: 320px;
}

.second-half {
  left: 50%;
}


/* Retina Screens
------------------------------------------------------- */

@media only screen and (max-width: 1024px){
  .text-rearrange {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .enterprise-ad {
   left: -39%;
  }
}

@media only screen and (max-width: 950px){
  .text-rearrange {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 65%;
    max-width: 100%;
  }
  .demo-rearrange {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 310px;
    width: 95%;
  }
  #ft .demo-rearrange { top: 540px;}
  #wp .demo-rearrange { top: 370px;}
  #lemonde .demo-rearrange { top: 500px;}
  #usatoday .demo-rearrange { top: 600px;}
  #zeit .demo-rearrange { top: 570px;}

  .summary-row .col2 {
    width: 33%;
    max-width: none;
  }
  .customer-logos {
    width: 25%;
    float: left;
  }
  .customer-logos:nth-of-type(1n+4) {
    width: 25%;
    float: left;
  }
  .col9 [class*='customer-logo-left'], .col12 [class*='customer-logo-left']  {
    width: 65%;
    padding-bottom: 18%;
  }


}

@media only screen and (max-width: 800px){
  .mapbox-js-examples ul li.col3 {
      width: 48%;
  }
   .mapbox-js-examples ul li:nth-of-type(3) {
      clear: both;
  }
  #design-tools .studio {
    display: none;
  }

  #design-tools ul.col4 {
    width: 90%;
  }

  #design-tools ul li {
    width: 100%;
  }
  #mobile .mobile-iphone  {
    width: 310px;
    top: 0px;
  }
  .demo-circa {
    top: -100px;
    right: -70px;
  }
  .sticky-nav ul li {
    font-size: 11px;
    border-right: none;
  }
}

@media only screen and (max-width: 730px){
  .sticky-nav ul li.pad2x {
    padding-left: 10px;
    padding-right: 10px;
  }
  .sticky-nav ul li {
   padding-right: 6px;
   padding-left: 6px;
  }
 .demo-guardian {
    display: none;
  }
}

@media only screen and (max-width: 640px){
  .text-rearrange {
    margin-bottom: 40px;
  }
  ul li .pad4x {
    padding-left: 40px;
    padding-right: 40px;
  }

  .bullet-list span.col10 {
    width: 80%;
  }
  #mobile .mobile-ipad {
    width: 800px;
    background: url(ipad.png)-120px 180px no-repeat;
    background-size: 100% auto;
    left:-15%;
  }

  .mapbox-js-examples ul li.col3 {
      width: 100%;
  }
   .mapbox-js-examples ul li {
      clear: both;
  }
  .summary-row .col2 {
    width: 50%;
    max-width: none;
    float: left;
  }
  [class*='customer-logo-left'] {
    width: 60%;
    padding-bottom: 17%;
  }
}
