#realestate.splash {
  padding-top: 40px;
  height: 600px;
}



#realestate .mobile-ipad {
  height: 560px;
  width: 1120px;
  position: absolute;
  background: url(ipad.png) 40px 140px no-repeat;
  background-size: 100% auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* this should be in base */
.fill-midnight {
  background-color: #142736;
}


/* Video embeds */
.video {
  height: 0;
  position: relative;
}

.video iframe {
  position: absolute;
}
.controls { display: none; }

/*********  STICKY NAV  *********/
.sticky-nav ul li {
  float: right;
  text-align: right;
}
.sticky-nav ul li:first-of-type {
  padding-right: 0px;
}

.sticky-nav ul li a {
  color: #909090;
}

.sticky-nav ul li a.active {
  color: rgba(55, 132, 186, 1.000);
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
} 

#splash-graphic {
  height: 640px;
}

#splash-graphic .mobile-ipad {
  height: 880px;
  width: 1280px;
  position: absolute;
  background: url(ipad.png) center 80px no-repeat;
  background-size: 100% auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.blog-item-small span.upper {
  display: block;
  text-transform: uppercase;
}

.example-image-streateasy {
  position: absolute;
  right: -30%;
  top: 0;
}
.example-portland {
  position: absolute;
  left: -20%;
  top: -40px;
}

.example-image-roomorama {
  position: absolute;
  left: -30%;
  top: 0;
}

.example-image-rentcheck {
  position: absolute;
  top: -30px;
}

.mapbox-js-examples ul li div {
  background-color: rgba(165, 215, 255, 0.150);
  height: 140px;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.mapbox-js-examples ul li a { display: block;}
.mapbox-js-examples ul li a h3 {  color: white;}
.mapbox-js-examples ul li a:hover  {
  background-color: rgba(59, 76, 88, 0.150);
}

.example-1 {background: url(js-examples/example-1.jpg) center bottom no-repeat; background-size: cover;}
.example-2 {background: url(js-examples/example-2.jpg) left bottom no-repeat; background-size: cover;}
.example-3 {background: url(js-examples/example-3.jpg) center bottom no-repeat; background-size: cover;}
.example-4 {background: url(js-examples/example-4.jpg) center bottom no-repeat; background-size: cover;}

.studio-features p, .studio-features h3, .bullet-list p, .bullet-list h3 {
  padding-left: 60px;
}
.studio-features li, .bullet-list li {
  padding-bottom: 30px;
}

/* datavisualizations */

#datavisualizations .londen-video {
  position: absolute;
  right: -100px;
  top: 0;
  -moz-transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

#datavisualizations .device.device-desktop {
  border-radius: 10px 10px 0 0;
  border-right: 20px solid #132736;
  border-left: 20px solid #132736;
  border-top: 20px solid #132736;
  border-bottom: 10px solid #132736;
  margin-bottom: 100px;
}

#datavisualizations .device.device-desktop:after {
  content: '';
  display: block;
  bottom: -80px;
  left: -20px;
  right: -20px;
  position: absolute;
  height: 80px;
  background: #132736; /* Old browsers */
  background: -moz-linear-gradient(top,  #132736 0%, #1e5799 0%, #132736 0%, #132736 33%, #dddddd 33%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#132736), color-stop(0%,#1e5799), color-stop(0%,#132736), color-stop(33%,#132736), color-stop(33%,#dddddd), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #132736 0%,#1e5799 0%,#132736 0%,#132736 33%,#dddddd 33%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #132736 0%,#1e5799 0%,#132736 0%,#132736 33%,#dddddd 33%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #132736 0%,#1e5799 0%,#132736 0%,#132736 33%,#dddddd 33%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #132736 0%,#1e5799 0%,#132736 0%,#132736 33%,#dddddd 33%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#132736', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
  border-radius: 0 0 15px 15px;
}

#datavisualizations .device.device-desktop .device-details {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-bottom: 60px solid #ddd;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 33.3333%;
  bottom: -130px;
}

#datavisualizations .device.device-desktop:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 20px;
  bottom: -58px;
  background-color: rgba(0,0,0,.25);
  border-radius: 50%;
  width: 20px;
  z-index: 10;
}

#datavisualizations video {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 26%;
}

/********** MOBILE SECTION **********/

#mobile .mobile-iphone {
  height: 880px;
  width: 400px;
  position: absolute;
  background: url(iphone.png) right 0px no-repeat;
  background-size: 100% auto;
  right: 0px;
  margin-right: auto;
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}


/********** DESIGN SECTION **********/
.studio {
  background: url(studio.png) left top no-repeat;
  display: block;
  background-size: 100% auto;
  top: 260px;
}

#design-tools .icon.check:before {
  color: #39abc7; 
}

#map {
  width: 100%;
  height: 500px;
  position: absolute;
}

.maplegends {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: transparent;
  z-index: 99;
}

.map-legend {
  background: rgba(0, 0, 0, 0.7);
  color: #999;
  border: 1px solid rgba(100, 100, 100, 0.2);
  width: 450px;
  border-radius: 3px;
}

.map-legend a {
  text-decoration: none;
}

.map-legend .legend-title {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
}

.map-legend .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.map-legend .legend-scale ul li {
  display: block;
  float: left;
  width: 30px;
  margin-bottom: 6px;
  text-align: center;
  list-style: none;
  font-size: 11px;
  color: #666;
}
.map-legend ul.legend-labels li span {
  -webkit-mix-blend-mode: hard-light;
  display: block;
  float: left;
  height: 10px;
  width: 30px;
  margin-bottom: 3px;
}
.map-legend .legend-source {
  color: #999;
  clear: both;
  font-size: 11px;
}

.map-legend .copyright {
  float: right;
}

.map-legend a {
  color: #777;
}


/********** LEARN MORE SECTION **********/
.blog-streeteasy {
  display: block;
  background: url('assets/streeteasy.gif') center bottom no-repeat;
  background-size: cover;
}

/********** CONTACT SECTION **********/
#contact .half {
  z-index: -10;
  position: absolute;
  width: 50%;
  height: 320px;
}

.second-half {
  left: 50%;
}

.device-browser {
  width: 100%;
}

.demo-roomorama {
  position: absolute;
  top: 0px;
  left: -30%;
}

.demo-roomorama .device-content, .example-image-streateasy .device-content {
  height: 0px;
  width: 100%;
  padding-bottom: 70%;
}

.demo-roomorama .device-content img, .example-image-streateasy .device-content img {
  border-radius: 0 0 10px 10px;
}


/* Retina Screens @2x icons
------------------------------------------------------- */

@media only screen and (max-width: 1200px){
  .example-portland {
    position: absolute;
    left: -20%;
    top: 10px;
  }
}

@media only screen and (max-width: 1100px){
  #datavisualizations .londen-video {
    position: absolute;
    right: -180px;
    top: 50px;
  }
  .portland {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 1024px){
  #mobile .mobile-iphone {
    right:-10%;
  }
  #datavisualizations .londen-video {
    position: absolute;
    right: -230px;
  }
}

@media only screen and (max-width: 950px){
  li a.icon.mail {
    display: none;
  }
  #datavisualizations .londen-video {
    position: absolute;
    right: -170px;
    top: 80px;
  }
  .portland-text {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 65%;
    max-width: 100%;
  }
  .example-portland {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    top: 220px;
    width: 95%;
  }
}

@media only screen and (max-width: 800px){
  .mapbox-js-examples ul li.col3 {
      width: 48%;
  }
   .mapbox-js-examples ul li:nth-of-type(3) {
      clear: both;
  }
  #design-tools .studio {
    display: none;
  }

  #design-tools ul.col4 {
    width: 90%;
  }

  #design-tools .studio-features ul li {
    width: 100%;
  }
  #mobile .sdks a {
     padding: 5px;
  }
}

@media only screen and (max-width: 730px){
    .sticky-nav ul li.pad2x {
      padding-left: 10px;
      padding-right: 10px;
    }
    #datavisualizations .londen-video {
      position: absolute;
      right: -270px;
      top: 80px;
    }    
    .example-portland {
      top: 260px;
    }
    .portland-text {
    margin-bottom: 75%;
  }
  .example-portland {
    top: 230px;
  }
}

@media only screen and (max-width: 640px){
  ul li .pad4x {
    padding-left: 40px;
    padding-right: 40px;
  }

  .bullet-list span.col10 {
    width: 80%;
  }
  #realestate .mobile-ipad  {
    width: 870px;
    background: url(ipad.png)-120px 200px no-repeat;
    background-size: 100% auto;
    left: -5%;
  }
  .mapbox-js-examples ul li.col3 {
      width: 100%;
  }
   .mapbox-js-examples ul li {
      clear: both;
  }
   #mobile .sdks a {
     padding: 40px;
  }
  .portland {
    margin-bottom: 40px;
  }
  .portland-text {
    margin-bottom: 0;
  }

}
