#insurance {
  background: url(header.jpg) center top no-repeat;
  background-size: cover;
  height: 550px;
}

#insurance iframe {
  position: absolute;
  top: -2px;
}
/* this should be in base */
.fill-midnight {
  background-color: #142736;
}

/*********  STICKY NAV  *********/
.sticky-nav ul li {
  float: right;
  text-align: right;
}
.sticky-nav ul li:first-of-type {
  padding-right: 0px;
}

.sticky-nav ul li a {
  color: #909090;
}

.sticky-nav ul li a.active {
  color: rgba(55, 132, 186, 1.000);
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
} 

a.block:hover .quiet {
  color: white;
}

a.block:hover .quiet {
  color: white;
}

.blog-item-small {
  clear: both;
}

.blog-item-small span.upper {
  display: block;
  text-transform: uppercase;
}

.demo-metromile {
  position: absolute;
  right: 0%;
  top: -80px;
  background: url(metromile.png) no-repeat;
  background-size: cover;
  width: 320px;
  height: 730px;
}
.demo-shakemaps {
  position: absolute;
  left: -25%;
  top: 10px;
}

.demo-shakemaps video {
  margin-bottom: -5px;
  width: 100%;
  height: auto;
}
.demo-shakemaps video.device-content {
  width: 100%;
  max-height: none;
}
.device.device-browser .device-content {
  border-radius: 0 0 10px 10px;
  max-height: 700px; 
}


.demo-moore {
    margin-bottom: -20px;
}
.demo-weather {
  background: url(weather.jpg) no-repeat;
  background-size: cover;
}

.demo-satellite  {
  background: url(satellite.png) no-repeat;
  background-size: 100% auto;;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
}

.demo-microsatellite video {
  margin-bottom: -5px;
}

.demo-mobile {
  position: absolute;
  right: -35%;
}
.device.device-browser {
  width: 100%;
}


.device.device-tablet-h {
  width: 100%;
}

#droneimagery {
  background: url(drones.jpg) center top no-repeat;
  background-size: cover;
}

/* tablet */
.demo-fcc  .device.device-tablet-h .device-content  {
    max-width: 800px;
}

/* rounded corners */
.device-content img {
  border-radius: 0 0 10px 10px;
}


/* Afghanistan */
.afghanistan-intro {
  background: url(afghanistan.jpg) no-repeat;
  background-size: cover;
}

.enterprise-ad {
  background: url(enterprise.png) left bottom no-repeat;
  background-size: auto 100%;
  width: 900px;
  left: -23%;
}

/********** CONTACT SECTION **********/
#contact .half {
  z-index: -10;
  position: absolute;
  width: 50%;
  height: 320px;
}

.second-half {
  left: 50%;
}


/* Retina Screens @2x icons
------------------------------------------------------- */
@media only screen and (max-width: 1100px){
  .demo-microsatellite {
    left: -24%;
  }
  .sticky-nav ul li.pad2x {
    padding-left: 10px;
    padding-right: 10px;
  }
  .demo-shakemaps {
    position: absolute;
    left: -30%;
    top: 0px;
  }
}

@media only screen and (max-width: 1060px){
  .sticky-nav ul li a.mail {
    display: none;
  }
}
@media only screen and (max-width: 1024px){
  .text-rearrange {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .enterprise-ad {
   left: -39%;
  }
  .demo-microsatellite {
    left: -35%;
  }
  .demo-shakemaps {
    position: absolute;
    left: -43%;
    top: 0px;
  }
}


@media only screen and (max-width: 950px){
  .text-rearrange {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 65%;
    max-width: 100%;
  }
  .demo-rearrange {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 310px;
    width: 95%;
  }

  #weather .demo-rearrange { top: 430px;}
}

@media only screen and (max-width: 850px){
  .demo-mobile {
    right: -32%;
    top: 130px;
  }

  #mobile .iphone, #mobile .android {
    padding: 40px;
  }
}

@media only screen and (max-width: 750px){
  #twitter .demo-rearrange {
    top: 420px;
  }
  #nyc .demo-rearrange { top: 500px;}
  #microsatellite .demo-rearrange { display: none;}
  #microsatellite  .text-rearrange {
    margin-bottom: 40px;
  }
  .enterprise-ad { background: none;}
  .hide-in-enterprise .col5 {
    width: 100%;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 640px){
  .text-rearrange {
    margin-bottom: 40px;
  }
  .blog-item-small .col4 {
    width: 30%;
  }
  ul li .pad4x {
    padding-left: 40px;
    padding-right: 40px;
  }
  .bullet-list span.col10 {
    width: 80%;
  }
  #finance {
    background: url(header.jpg) center top no-repeat;
    background-size: cover;
    height: 550px;
  }
  .hamburg .col3 {
    width: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .hamburg {
    bottom: -180px;
  }
}
