#finance {
  background: url(header.jpg) left top no-repeat;
  background-size: cover;
  height: 550px;
}

.hamburg {
  top: 400px;
}

/* this should be in base */
.fill-midnight {
  background-color: #142736;
}
.fill-midnight-lighten {
  background-color: #1d3646;
}

/*********  STICKY NAV  *********/
.sticky-nav ul li {
  float: right;
  text-align: right;
}
.sticky-nav ul li:first-of-type {
  padding-right: 0px;
}

.sticky-nav ul li a {
  color: #909090;
}

.sticky-nav ul li a.active {
  color: rgba(55, 132, 186, 1.000);
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
} 


/* Customer logos
------------------------------------------------------- */

a[class*='customer-big-'] {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  background: url(color-logos.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

a.customer-big-foursquare { background-position: 0 0; }
a.customer-big-pinterest  { background-position: 0 5%; }
a.customer-big-nat-geo    { background-position: 0 10%; }
a.customer-big-evernote   { background-position: 0 15%; }
a.customer-big-ft         { background-position: 0 20%; }
a.customer-big-github     { background-position: 0 25%; }
a.customer-big-square     { background-position: 0 30%; }
a.customer-big-roadtrippers     { background-position: 0 35%; }
a.customer-big-scoot     { background-position: 0 40%; }
a.customer-big-etsy     { background-position: 0 45%; }
a.customer-big-instacart     { background-position: 0 50%; }
a.customer-big-automatic     { background-position: 0 55%; }

a.block:hover .quiet {
  color: white;
}

a.block:hover .quiet {
  color: white;
}

.blog-item-small {
  clear: both;
}

.blog-item-small span.upper {
  display: block;
  text-transform: uppercase;
}

#oil iframe {
  margin-bottom: -10px;
}
.demo-square {
  position: absolute;
  right: -10%;
  top: -20px;
}
.demo-twitter {
  position: absolute;
  right: -40%;
  top: -20px;
}

.demo-chamberofcommerce {
  position: absolute;
  left: -40%;
  top: -10px;
}
.demo-microsatellite {
  position: absolute;
  left: -25%;
  top: 20px;
}

.demo-microsatellite video {
  margin-bottom: -5px;
}

.demo-mobile {
  position: absolute;
  right: -35%;
}
.device.device-browser {
  width: 100%;
}


.device.device-tablet-h {
  width: 100%;
}

/* tablet */
.demo-fcc  .device.device-tablet-h .device-content  {
    max-width: 800px;
}

/* rounded corners */
.device-content img {
  border-radius: 0 0 10px 10px;
}


/* Afghanistan */
.afghanistan-intro {
  background: url(afghanistan.jpg) no-repeat;
  background-size: cover;
}

.enterprise-ad {
  background: url(enterprise.png) left bottom no-repeat;
  background-size: auto 100%;
  width: 900px;
  left: -23%;
}

#map {
  height: 600px;
}
.map-navigation {
  position: absolute;
  right: 0px;
  top: 20px;
  height: 100%;
  max-width: 270px;
  width: 25%;
}
.map-navigation a {
  background: rgba(0,0,0,0.6);
  border: 1px solid #3887be;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin: 0 20px 15px 0;
  padding: 10px;
  text-transform: uppercase;
}
.map-navigation a:hover {
  border: 1px solid #3bb2d0;
}
.map-navigation a.hamburg-active {
  border: 1px solid #3887be;
  font-weight: normal;
  text-transform: none;
  color: #FFF;
  background-color: #3887be;
}

/********** CONTACT SECTION **********/
#contact .half {
  z-index: -10;
  position: absolute;
  width: 50%;
  height: 320px;
}

.second-half {
  left: 50%;
}


/* Retina Screens @2x icons
------------------------------------------------------- */
@media only screen and (max-width: 1150px){
  .sticky-nav ul li.pad2x {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 1100px){
  .demo-microsatellite {
    left: -24%;
  }
}

@media only screen and (max-width: 1024px){
  .text-rearrange {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .enterprise-ad {
   left: -39%;
  }
  .demo-microsatellite {
    left: -35%;
  }
   .sticky-nav ul li a.mail {
    display: none;
  }
}


@media only screen and (max-width: 950px){
  .text-rearrange {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 65%;
    max-width: 100%;
  }
  .demo-rearrange {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 310px;
    width: 95%;
  }
  #twitter .demo-rearrange { top: 400px;}
  #chamberofcommerce .demo-rearrange { top: 250px;}
  #microsatellite .demo-rearrange { top: 420px;}
  .industry-government-logos {
    width: 25%;
  } 
  .demo-electionmonitoring, .demo-electionmonitoring2 {
    display: none;
  }
  #electionmonitoring .text-rearrange {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .sticky-nav ul li a.mail {
    display: none;
  }
}

@media only screen and (max-width: 850px){
  .demo-mobile {
    right: -32%;
    top: 130px;
  }

  #mobile .iphone, #mobile .android {
    padding: 40px;
  }
}

@media only screen and (max-width: 750px){
  #twitter .demo-rearrange {
    top: 420px;
  }
  #nyc .demo-rearrange { top: 500px;}
  #microsatellite .demo-rearrange { display: none;}
  #microsatellite  .text-rearrange {
    margin-bottom: 40px;
  }
  .enterprise-ad { background: none;}
  .hide-in-enterprise .col5 {
    width: 100%;
    margin-left: 0px;
  }
  .sticky-nav ul li.pad2x {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (max-width: 640px){
  .text-rearrange {
    margin-bottom: 40px;
  }
  .blog-item-small .col4 {
    width: 30%;
  }
  ul li .pad4x {
    padding-left: 40px;
    padding-right: 40px;
  }
  .bullet-list span.col10 {
    width: 80%;
  }
  #finance {
    background: url(header.jpg) center top no-repeat;
    background-size: cover;
    height: 550px;
  }
  .hamburg .col3 {
    width: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .hamburg {
    bottom: -180px;
  }
}
