#transportation {
  background: url(header.jpg) right -60px no-repeat;
  background-size: cover;
  height: 550px;
  padding-top:90px;
}



/* this should be in base */
.fill-midnight {
  background-color: #142736;
}

/*********  STICKY NAV  *********/
.sticky-nav ul li {
  float: right;
  text-align: right;
}
.sticky-nav ul li:first-of-type {
  padding-right: 0px;
}

.sticky-nav ul li a {
  color: #909090;
}

.sticky-nav ul li a.active {
  color: rgba(55, 132, 186, 1.000);
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
} 



/* Customer logos
------------------------------------------------------- */

a[class*='customer-big-'] {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  background: url(color-logos.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

a.customer-big-foursquare { background-position: 0 0; }
a.customer-big-pinterest  { background-position: 0 5%; }
a.customer-big-nat-geo    { background-position: 0 10%; }
a.customer-big-evernote   { background-position: 0 15%; }
a.customer-big-ft         { background-position: 0 20%; }
a.customer-big-github     { background-position: 0 25%; }
a.customer-big-square     { background-position: 0 30%; }
a.customer-big-roadtrippers     { background-position: 0 35%; }
a.customer-big-scoot     { background-position: 0 40%; }
a.customer-big-etsy     { background-position: 0 45%; }
a.customer-big-instacart     { background-position: 0 50%; }
a.customer-big-automatic     { background-position: 0 55%; }
a.customer-big-randmcnally     { background-position: 0 60%; }

a.block:hover .quiet {
  color: white;
}


.blog-item-small span.upper {
  display: block;
  text-transform: uppercase;
}

.demo-automatic  {
  position: absolute;
  right: -50%;
  top: 0;
}

.demo-roadtrippers {
  position: absolute;
  right: 110px;
  top: -10px;
  width: 230px;
  height: 610px;
  background: url(roadtrippers.png) no-repeat;
  background-size: cover;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.example-roadtrippers  {
  background: url(roadtrippers-welcome.jpg) center bottom no-repeat;
  background-size: cover;
}

.example-randmcnally  {
  background: #17272d url(randmcnally.jpg) center bottom no-repeat;
  background-size: 100% auto;
}

.roadtrippers-discovery {
  margin-top: 60px;
  background: url(roadtrippers-discovery.png) no-repeat;
  background-size: contain;
}

.example-image-instacart {
  position: absolute;
  left: -30%;
  top: 0;
}

#randmcnally div.limiter {
  margin-bottom: 420px;
}
.demo-randmcnally {
  margin-bottom: -20px;
}
.demo-randmcnally .device.device-browser .device-content {
 max-height: 800px; 
}

.instacart .icon.check:before {
  color: #56b881;
}

/********** SMART DIRECTION **********/

#smart-directions iframe {
  margin-bottom: -10px;
}

.bullet-list p, .bullet-list h3 {
  padding-left: 60px;
}

.directions-iphone {
  height: 500px;
  background: url(iphone.png) center -10px no-repeat;
  background-size: 100% auto;
}

#scoot {
  background: url(../../../farm8.staticflickr.com/7344/13937697486_2ec4b29653_o.png) center bottom no-repeat;
  background-size: cover;
  height: 700px;
}

/********** LEARN MORE SECTION **********/
.blog-smartdirections {
  display: block;
  background: url('assets/smart-directions.jpg') center bottom no-repeat;
  background-size: cover;
}
.blog-smartdirections2{
  display: block;
  background: url('assets/smart-directions2.jpg') center -60px no-repeat;
  background-size: cover;
}


/********** CONTACT SECTION **********/
#contact .half {
  z-index: -10;
  position: absolute;
  width: 50%;
  height: 320px;
}

.second-half {
  left: 50%;
}

.device-browser {
  width: 100%;
}


.demo-instacart {
  position: absolute;
  top: 0px;
  left: -30%;
}


.demo-instacart .device-content, .example-image-roadtrippers .device-content {
  height: 0px;
  width: 100%;
  padding-bottom: 70%;
}

.device-content img {
  border-radius: 0 0 10px 10px;
}


/* Retina Screens @2x icons
------------------------------------------------------- */

@media only screen and (max-width: 1024px){
  #mobile .mobile-iphone {
    right:-10%;
  }
  .directions-iphone {
    height: 540px;
  }
  #randmcnally div.limiter {
   margin-bottom: 310px;
  }
}

@media only screen and (max-width: 800px){
  .mapbox-js-examples ul li.col3 {
      width: 48%;
  }
   .mapbox-js-examples ul li:nth-of-type(3) {
      clear: both;
  }
  #design-tools .studio {
    display: none;
  }

  #design-tools ul.col4 {
    width: 90%;
  }

  #design-tools ul li {
    width: 100%;
  }
  #mobile .sdks a {
     padding: 5px;
  }
  #smart-directions .intro {
    padding-bottom: 40px;
    margin-top: 0px;
  }
  .demo-roadtrippers {
    position: absolute;
    right: 0px;
  }
  #randmcnally div.limiter {
   margin-bottom: 250px;
  }
}

@media only screen and (max-width: 730px){
    .sticky-nav ul li.pad2x {
      padding-left: 10px;
      padding-right: 10px;
    }

}

@media only screen and (max-width: 640px){
  ul li .pad4x {
    padding-left: 40px;
    padding-right: 40px;
  }

  .bullet-list span.col10 {
    width: 80%;
  }
  #transportation {
     background: url(header.jpg) -170px 50px no-repeat;
     background-size: cover;
  }
  #transportation h2.fancy {
      font-size: 25px !important;
  }
  .mapbox-js-examples ul li.col3 {
      width: 100%;
  }
   .mapbox-js-examples ul li {
      clear: both;
  }
   #mobile .sdks a {
     padding: 40px;
    }
  
  .gizmodo-logo {
    width: 50%;
    padding: 6%;
  }
  #randmcnally div.limiter {
    margin-bottom: 220px;
  }

}
