#outdoors {
  background: url(header.jpg) center bottom no-repeat;
  background-size: cover;
  height: 550px;
}

/* this should be in base */
.fill-midnight {
  background-color: #142736;
}

/*********  STICKY NAV  *********/
.sticky-nav ul li {
  float: right;
  text-align: right;
}
.sticky-nav ul li:first-of-type {
  padding-right: 0px;
}

.sticky-nav ul li a {
  color: #909090;
}

.sticky-nav ul li a.active {
  color: rgba(55, 132, 186, 1.000);
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 2000;  
    border-top: 0;  
} 

.blog-item-small span.upper {
  display: block;
  text-transform: uppercase;
}

.bullet-list p, .bullet-list h3 {
  padding-left: 60px;
}

/************* EXAMPLES ********/
.demo-webmd {
  position: absolute;
  top: 20px;
  left: -10%;
}

.demo-doctorswithoutborders {
  position: absolute;
  top: 0px;
  right: -40%;
}

.demo-famine {
  position: absolute;
  top: -10px;
  right: -40%;
}

.doctorswithoutborders-photo {
  background: url(doctorswithoutborders.jpg) no-repeat;
  background-size: cover;
}

.demo-malaria {
  position: absolute;
  top: 20px;
  left: -17%;
}

.demo-doctorswithoutborders {
  position: absolute;
  top: 60px;
  right: -7%;
}

.demo-publichealth {
  position: absolute;
  top: 0px;
  left: -22%;
}

.device.device-browser {
  width: 100%;
}

.device-content img {
  border-radius: 0 0 10px 10px;
}

.device.device-browser .device-content {
  border-radius: 0 0 10px 10px;
  max-height: 700px; 
}

.enterprise-ad {
  background: url(enterprise.png) left bottom no-repeat;
  background-size: auto 100%;
  width: 900px;
  left: -23%;
}

/********** MOBILE SECTION **********/

#mobile .mobile-iphone {
  height: 880px;
  width: 400px;
  position: absolute;
  background: url(iphone.png) right 70px no-repeat;
  background-size: 100% auto;
  right: 0px;
  top:  -100px;
  margin-right: auto;
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}


/********** LEARN MORE SECTION **********/
.blog-outdoors {
  display: block;
  background: url(assets/outdoors.jpg) center bottom no-repeat;
  background-size: cover;
}

.blog-winter {
  display: block;
  background: url(assets/winter.jpg) center bottom no-repeat;
  background-size: cover;
}

/********** CONTACT SECTION **********/
#contact .half {
  z-index: -10;
  position: absolute;
  width: 50%;
  height: 320px;
}

.second-half {
  left: 50%;
}


/* Retina Screens @2x icons
------------------------------------------------------- */
@media only screen and (max-width: 1060px){
   .sticky-nav ul li.pad2x {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 1024px){
  .text-rearrange {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .enterprise-ad {
   left: -49%;
  }
}


@media only screen and (max-width: 950px){
  .text-rearrange {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 65%;
    max-width: 100%;
  }
  .demo-rearrange {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 240px;
    width: 95%;
  }
  #famine .demo-rearrange {top: 420px;}
  #publichealth .demo-rearrange {top: 420px;}
}

@media only screen and (max-width: 800px){
  .sticky-nav ul li a.mail {
    display: none;
  }
}

@media only screen and (max-width: 750px){
  .enterprise-ad { background: none;}
  .hide-in-enterprise .col5 {
    width: 100%;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 730px){
    .sticky-nav ul li.pad2x {
      padding-left: 10px;
      padding-right: 10px;
    }
}

@media only screen and (max-width: 640px){
  ul li .pad4x {
    padding-left: 40px;
    padding-right: 40px;
  }
  .text-rearrange {
    margin-bottom: 40px;
  }
}
