/* Illustrations
------------------------------------------------------- */

.graphic-splash {
  background: url(team-graphic-splash.png) 0 100% no-repeat;
  background-size: 100% auto;
  padding-bottom: 25%;
  height: 0;
  bottom: 0px;
}

@media only screen and (max-width: 900px) {
  .graphic-splash { right: 20px;}
}

/* Profiles
------------------------------------------------------- */

.profile {
  height: 0;
  padding-bottom: 60%;
  min-height: 500px;
}

.profile-image {
  background-repeat:no-repeat;
  background-position: center top;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
}

.profile-text {
  padding-right: 40px;
}

.profile-text-heading {
  height: auto;
}

.profile-text a.readmore {
  display: none;
  width: 100%;
  padding-top: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  color: rgba(0,0,0,.5);
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(248,248,248,0.06) 4%, rgba(248,248,248,1) 65%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(4%,rgba(248,248,248,0.06)), color-stop(65%,rgba(248,248,248,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(248,248,248,0.06) 4%,rgba(248,248,248,1) 65%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(248,248,248,0.06) 4%,rgba(248,248,248,1) 65%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(248,248,248,0.06) 4%,rgba(248,248,248,1) 65%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(248,248,248,0.06) 4%,rgba(248,248,248,1) 65%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
}
.profile-text  a.readmore:hover {
  cursor: pointer;
}
.profile-text a.readmore.show-button {
  display: block;
}

.profile-text-content p:not(:first-child) {
  font-size: 15px;
  line-height: 26px;
  color: rgba(0,0,0,.5);
  }

.active.profile {
  height: auto;
  padding-bottom: 0;
}
.active .profile-text {
  position: relative;
}

.active .profile-text a.readmore.show-button {
  display: block;
  width: 100%;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
  color: rgba(0,0,0,.3);
}

.active .profile-image {
  -webkit-background-size: cover;
          background-size: cover;
}

.prose-big .team-blogpost {
  font-size: 12px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 760px) {
    .profile-image {
      -webkit-background-size: cover;
      background-size: cover;
  }
}


@media only screen and (max-width: 640px) {
  .team-container,
  .team-container > div { padding: 0;}
  .profile-image {
    height: 300px;
    background-position: center top;
    background-size: cover;
    position: relative;
  }
  .profile {
    min-height: 0;
    height: auto;
    padding-bottom: 0;
  }
  .profile-text {
    padding-bottom: 0;
    position: relative;
  }
  .profile-links { top: 240px;}
  .profile-text-content p:not(:first-child) { display: none;}

  .profile-text a.readmore, .profile-text a.readmore.show-button  { display: none;}
}


