
/* Illustrations
------------------------------------------------------- */
.graphic-splash {
  background: url(jobs-graphic-splash.png) 0 100% no-repeat;
  background-size: 100% auto;
  padding-bottom: 25%;
  height: 0;
  bottom: 0px;
}

@media only screen and (max-width: 900px) {
  .graphic-splash { right: 20px;}
}

/* Jobs nonsense */
.jobs .small-map {
  background: #1C1C1C;
  height: 140px;
  margin-bottom: 20px;
}
.jobs .map-wrapper {
  position: relative;
  height: 100%;
}

.jobs .map {
  background: #BFD798;
  position:absolute;
  top:0; bottom:0;
  height: 100%;
  width:100%;
  z-index: 10;
}
.jobs .map-label {
  color: white;
  font-family: Monaco, monospace;
  font-weight: bold;
  z-index: 15;
  position: absolute;
  left: 5px;
  top: 5px;
  text-transform: uppercase;
}

#row-2 {
  margin-top: -60px;
}


#screen {
  background-color: #15191c;
}

.mission-boxes {
  margin-top: -100px;
}

.mission-box .inside > div {
  height: 100%;
  text-align: left;
}
.mission-box {
  background: #1C252C;
  height: 150px;
  display: inline-block;
  width: 30%;
  position:relative;
  top:20px;
  z-index: 10;
}
.mission-box .inside {
  height: 100%;
}
.mission-box.left {
  margin-left: 0;
}
.mission-box.center {
  margin: 0 3%;
}
.mission-box.right {
  margin-right: 0;
}
.mission-box::after {
  background-color: #131a1e;
  content: '';
  height: 20px;
  position: absolute;
  width: 100%;
}

.mission-box::before {
  background-color: #131a1e;
  content: '';
  height: 150px;
  position: absolute;
  width: 15px;
}

#row-1 .mission-box {
  height: 130px;
}

#jobs-map .jobs-marker {
  position: absolute;
  width: 15px;
  height: 15px;
  margin: -8px 0 0 -8px;
  line-height: 15px;
  z-index: 100000;
  cursor: pointer;
  pointer-events: auto;
  text-align: center;
}


#jobs-map .dot {
  background: #8069A5;
  box-shadow: #8069A5 0 0 0 2px;
  border: 2px solid #262B32;
  display: block;
  width: 8px;
  height: 8px;
  margin: 3px auto;
  position: relative;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  animation: dotPulse 1000ms linear 0 infinite;
  -moz-animation: dotPulse 1000ms linear 0 infinite;
  -webkit-animation: dotPulse 1000ms linear 0 infinite;
}

/* Left side box */

.mission-box.left::after {
  top: -20px;
  right: 14px;
  -webkit-transform:skew(-145deg); -webkit-transform-origin:top;
     -moz-transform:skew(-145deg);    -moz-transform-origin:top;
       -o-transform:skew(-145deg);      -o-transform-origin:top;
          transform:skew(-145deg);         transform-origin:top;
}

.mission-box.left::before {
  top: -10px;
  left: -15px;
  -webkit-transform:skewY(-125deg); -webkit-transform-origin:top;
     -moz-transform:skewY(-125deg);    -moz-transform-origin:top;
       -o-transform:skewY(-125deg);      -o-transform-origin:top;
          transform:skewY(-125deg);         transform-origin:top;
}

/* Center box */

.mission-box.center::after {
  background: transparent;
  top: -20px;
  right: 0;

  height:0;
  border-bottom: 20px solid #131a1e;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.mission-box.center::before {
  display: none;
}

/* Right side box */
.mission-box.right::after {
  top: -20px;
  left: 14px;
  -webkit-transform:skew(-35deg); -webkit-transform-origin:top;
     -moz-transform:skew(-35deg);    -moz-transform-origin:top;
      -ms-transform:skew(-35deg);     -ms-transform-origin:top;
       -o-transform:skew(-35deg);      -o-transform-origin:top;
          transform:skew(-35deg);         transform-origin:top;
}

.mission-box.right::before {
  top: -10px;
  right: -15px;
  -webkit-transform:skewY(-55deg); -webkit-transform-origin:top;
     -moz-transform:skewY(-55deg);    -moz-transform-origin:top;
      -ms-transform:skewY(-55deg);     -ms-transform-origin:top;
       -o-transform:skewY(-55deg);      -o-transform-origin:top;
          transform:skewY(-55deg);         transform-origin:top;
}

/* Mobile */

@media only screen and (max-width:770px) {
}

/* Animations */

/* @group Blink */

.blink {
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

/* @group Spin */
.spin {
    -webkit-animation:spin 1.25s linear infinite;
       -moz-animation:spin 1.25s linear infinite;
         -o-animation:spin 1.25s linear infinite;
            animation:pin 1.25s linear infinite;
}
.spin-slow {
    -webkit-animation:spin 2s linear infinite;
       -moz-animation:spin 2s linear infinite;
         -o-animation:spin 2s linear infinite;
            animation:spin 2s linear infinite;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* Pulse */
@-webkit-keyframes dotPulse {
  0%   { box-shadow:#7F68A4 0px 0px 0px 2px, rgba(127,104,164,1) 0px 0px 0px 3px; }
  100% { box-shadow:#7F68A4 0px 0px 0px 2px, rgba(127,104,164,0) 0px 0px 0px 10px; }
}
@-moz-keyframes dotPulse {
  0%   { box-shadow:#7F68A4 0px 0px 0px 2px, rgba(127,104,164,1) 0px 0px 0px 3px; }
  100% { box-shadow:#7F68A4 0px 0px 0px 2px, rgba(127,104,164,0) 0px 0px 0px 10px; }
}
keyframes dotPulse {
  0%   { box-shadow:#7F68A4 0px 0px 0px 2px, rgba(127,104,164,1) 0px 0px 0px 3px; }
  100% { box-shadow:#7F68A4 0px 0px 0px 2px, rgba(127,104,164,0) 0px 0px 0px 10px; }
}
