/* Illustrations
------------------------------------------------------- */

.graphic-splash {
  background: url(showcase-sprite1.png) 0 100% no-repeat;
  background-size: 100% auto;
  padding-bottom: 25%;
  height: 0;
  bottom: 80px;
}

@media only screen and (max-width: 900px) {
  .graphic-splash { right: 20px;}
}

/* Customer logos
------------------------------------------------------- */

a[class*='customer-big-'] {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  background: url(color-logos.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

a.customer-big-foursquare { background-position: 0 0; }
a.customer-big-pinterest  { background-position: 0 11.11%; }
a.customer-big-nat-geo    { background-position: 0 22.22%; }
a.customer-big-evernote   { background-position: 0 33.33%; }
a.customer-big-ft         { background-position: 0 44.44%; }
a.customer-big-github     { background-position: 0 55.55%; }
a.customer-big-square     { background-position: 0 66.66%; }
a.customer-big-roadtrippers     { background-position: 0 77.77%; }
a.customer-big-scoot     { background-position: 0 88.88%; }
a.customer-big-etsy     { background-position: 0 100%; }

a.block:hover .quiet {
  color: white;
}

#roadtrippers {
  padding-top: 40px;
  padding-bottom: 40px;
}


#roadtrippers::before {
  display: block;
  content: "";
  width: 950px;
  height: 500px;
  background: url(roadtrippers-bg@2x.png) 0 0px no-repeat;
  background-size: 100%;
  position: absolute;
  left: -45%;
  bottom: 0px;
}

#scoot::before {
  display: block;
  content: "";
  width: 1125px;
  height: 866px;
  background: url(scoot-bg@2x.png) 0 0px no-repeat;
  background-size: 100%;
  position: absolute;
  left: -40%;
  top: -50px;
}
#scoot img {
  display: none;
}

#roadtrippers .device-phone-v {
  left: 95px;
  top: 170px;
}

#github .device.device-browser .device-content {
  border: 1px solid #dddddd;
}


@media only screen and (max-width:1030px) {
  #roadtrippers::before  {
    display: none;
  }
  #roadtrippers .device-phone-v {
    left: 0px;
    top: 0px;
  }
}

@media only screen and (max-width:640px) {
  .showcase-item-text {
    margin-bottom: 20px;
  }
  #scoot::before  {
    display: none;
  }
}

