#c {
    min-width: 100%;
}

circle {
    -webkit-transition: fill-opacity 250ms linear;
}

.selecting circle {
    fill-opacity: .2;
}

.selecting circle.selected {
    stroke: #f00;
}

.summary {
    font-family: 'Bree Serif', sans-serif;
    font-size: 24px;
    text-align:center;
    padding:10px;
    color:#222;
}

.summary span {
    color: #D42F8F;
}

.resize path {
    fill: #222;
    fill-opacity: 1;
    stroke: #000;
    stroke-width: 1px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    fill:#b5d378;
    stroke-width:1;
    stroke:#fff;
    fill-opacity: 1;
    shape-rendering: crispEdges;
}
