<!DOCTYPE html >
 <html>
 <head>
<!-- Original URL: https://www.mapbox.com/projects/
Date Downloaded: 2014-12-05 09:26:36 PM !-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
   <meta charset='UTF-8' />
   <meta http-equiv='X-UA-Compatible' content='IE=edge' />
   <meta name='robots' content='index' />
   <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
   <meta name='description' content='Projects' />
   <title>Projects | Mapbox </title>

   <meta name='st:title' content='Projects' />
   <meta name='st:type' content='site' />
   <meta name='st:info' content='site' />

  

   <link href='../base/latest/base_8f8b1251.css' rel='stylesheet' />
   <link href='../css/site.css' rel='stylesheet' />
   <!--[if IE 9]><link href='../css/site-ie9.css' rel='stylesheet' /><![endif]-->
   <link rel='shortcut icon' href='../img/favicon.ico' type='image/x-icon' />
   <link rel='alternate' type='application/rss+xml' title='RSS' href='../blog/blog.rss' />
   <link href='../../api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />

   <!--[if lt IE 9 ]><script src='../js/redirect-ie.js'></script><![endif]-->
   <script src='../../js.stripe.com/v2/index.html.js'></script>
   <script>
  var KM_COOKIE_DOMAIN = 'www.mapbox.com';
  var analytics=analytics||[];(function(){var e=['identify','track','trackLink','trackForm','trackClick','trackSubmit','page','pageview','ab','alias','ready','group'],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement('script');t.type='text/javascript',t.async=!0,t.src=('https:'===document.location.protocol?'https://':"http://")+'d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/'+e+'/analytics.min.js';var n=document.getElementsByTagName('script')[0];n.parentNode.insertBefore(t,n)};
  analytics.load(window.location.hostname.indexOf('mapbox.com') !== -1 ? 'fl0c8p240n' : '0biiejpgfj');

  Stripe.setPublishableKey(window.location.hostname.indexOf('mapbox.com') !== -1 ?
    'pk_live_hI6mmOTIg7KkywK6vo3vJvpk' : 'pk_test_gmIyREg3sKzAiyMkAEeCsxUG');
  </script>
   <script src='../../api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>

   <script>
  window.mapbox_api = '/core';
  window.mapbox_tileApi = '../../api.tiles.mapbox.com/index.html';
  window.mapbox_accessToken = 'pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q' || 'pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q'
  if (L.mapbox.VERSION[0] === '2') {
      L.mapbox.accessToken = window.mapbox_accessToken;
      L.mapbox.config.FORCE_HTTPS = true;
      L.mapbox.config.HTTPS_URL = window.mapbox_tileApi + '/v4';
  }
  </script>
   <script src='../base.js/dist/base.js'></script>
  
   <link rel='stylesheet' href='../css/list.css' />
 <link rel='stylesheet' href='projects.css' />
 <link rel='stylesheet' href='../css/bargraph.css' />
 <script src='../js/graphs/build/projectgraph.js'></script>

 </head>
 <body class=' '><div style="z-index: 9999; position: fixed; width: 100%; border: 0px; padding: 5px; margin: 0px; background-color: transparent;  font-size: 12pt; font-family: sans-serif;" id="web2disk_nag" onclick="javascript: document.getElementById('web2disk_nag').style.display = 'none';">
		<div style="color: #000000; background-color:#F1F1F1; margin-left: auto; margin-right: auto; border-width: 2px; border-style: solid; width: 550px; ">
			<div style="width: 100%; text-align: center; font-weight: bold; border: 0px; margin: 0px; padding: 0px">Hey, where did my words go? (Click to hide)</div>
			<p>In the trial version of Web2Disk every fifth word is blanked out. 
			To copy this site with all the words, please upgrade to the full version and copy this website again.</p>
			<div style="width: 100%; text-align: center; font-weight: bold; border: 0px; margin: 0px; padding: 0px">
				<a href="http://www.inspyder.com/products/Web2Disk/">Inspyder Web2Disk: The Website Downloader</a>
			</div>
		</div>
	</div>
  <div class='fill-midnight offcanvas-top row3 industries-subnav animate dark pin-top hide-mobile' id='industries'>
    <div class='limiter pad2y space-top1 small strong contain'>
       <ul class='space-bottom0 clearfix'>
         <li class='col2'><a href="../industries/realestate/index.html" class="primary-nav-button inline pad1x pad0y round">Real Estate </a></li>
         <li class='col2'><a href="../industries/transportation/index.html" class="primary-nav-button inline pad1x pad0y round">Transportation </a></li>
         <li class='col2'><a href="../industries/agriculture/index.html" class="primary-nav-button inline pad1x pad0y round ">Agriculture </a></li>
         <li class='col2'><a href="../industries/social/index.html" class="primary-nav-button inline pad1x pad0y round">Social </a></li>
         <li class='col2'><a href="../industries/government/index.html" class="primary-nav-button inline pad1x pad0y round ">Government </a></li>        
         <li class='col2'><a href="../industries/outdoors/index.html" class="primary-nav-button inline pad0x pad0y round">Fitness &amp; Outdoors </a></li>
       </ul>
       <ul class='clearfix'>
          <li class='col2'><a href="../industries/finance/index.html" class="primary-nav-button inline pad1x pad0y round ">Finance </a></li>
          <li class='col2'><a href="../industries/insurance/index.html" class="primary-nav-button inline pad1x pad0y round ">Insurance </a></li>
          <li class='col2'><a href="../industries/naturalresources/index.html" class="primary-nav-button inline pad1x pad0y round ">Natural Resources </a></li>
          <li class='col2'><a href="../industries/security/index.html" class="primary-nav-button inline pad1x pad0y round ">Security </a></li>
          <li class='col2'><a href="../industries/health/index.html" class="primary-nav-button inline pad1x pad0y round ">Health </a></li>
          <li class='col2'><a href="../industries/media/index.html" class="primary-nav-button inline pad0x pad0y round ">Media </a></li>
       </ul> 
    </div>
  </div>
 <div class='page-content'> 

 <div class='masthead show-in-loaded col12 clearfix fill-blue dark'>
   <div class='limiter clearfix'>
     <nav class='col12 text-right pad2y contain animate clearfix noprint'>
       <a class='fl mb-logo' href='../index.html'></a>
       <h4 class='logo-enterpriseaddon pin-topleft text-aqua block-in-enterprise'>Enterprise </h4>
       <div id='nav'>
       </div>
     </nav>
   </div>
 </div>

 <div class=' limiter clearfix'><div class='token-ad small show-in-loaded z10 round-bottom clip fill-light clip contain'>
   <span class='inline pad1'>Your default  <a href='../account/apps/index.html'>API access token </a></span>
   <div class='truncate pad1 quiet fill-darken0 token-ad-container pin-right'>
     <span class='align-top code small js-replace-token'>&lt;your access token here&gt; </span>
     <span class='pin-right pad1 quiet icon clipboard js-access-token-clipboard js-clipboard clipboard-right' title='Copy Access token to clipboard' data-clipboard-text=""></span>
   </div>
 </div>


 <div id='projects' class='projects contain pad4y'>

   <a href='#' class='icon quiet dot help animate help-button js-onboard-toggle fill-green dark'></a>
   <div id='project-help' class='fill-green dark clip round page-help animate col12 hide-mobile'>
     <div class='pad4 contain'>
     <a href='#' class='pad1 quiet icon close z10 pin-topright js-onboard-toggle'></a>
       <h2 class='space-bottom2 js-help-title'>Welcome to your projects ____ </h2>
       <p class='prose'>Projects are made up __ custom styles and data ________. You can share them ________ or use them with ___ developer tools. Each project ___ a unique  <strong>map ID </strong>.  <span class='js-help-message'></span> Use the ID ____ our  <a href='../developers/index.html'>JavaScript or Mobile APIs </a> to add the _______ to your website or ___. To learn more, read ___  <a href='../foundations/index.html'>Guides to getting started </a>. </p>
     </div>
     <div class='pad4 contain clearfix fill-darken0 prose'>
       <div class='col6'>
         <h3>Powerful map design with ______ Studio </h3>
         <p>Projects are great for _______ started quickly. If you ____ more control, try Mapbox ______. Custom data, fonts, textures, ___ more. </p>
         <div class='clearfix'>
           <a class='button stroke rcon next col8' href='../mapbox-studio/index.html'>Download Mapbox Studio </a>
         </div>
       </div>
       <div class='col6 margin7 pin-left center'>
         <div class='space-top4 device device-browser col12'>
           <div class='device-content'>
             <div class='clearfix contain clip row9 mobile-cols studio-editor'>
               <div class='fill-navy pin-left pad1 animate offcanvas-left-onhover'>
                 <div class='block icon dot fill-navy-dark space-bottom1'></div>
                 <div class='block icon dot fill-navy-dark space-bottom1'></div>
                 <div class='block icon dot fill-navy-dark space-bottom1'></div>
                 <div class='block icon dot fill-navy-dark space-bottom1'></div>
                 <div class='pin-bottomleft pad1'>
                   <div class='block icon dot fill-navy-dark'></div>
                 </div>
               </div>
               <div class='fill-white pin-right col4 animate offcanvas-right-onhover'>
                 <div class='contain mobile-cols'>
                     <div class='col3 pad1 fill-white'></div>
                     <div class='col3 pad1 fill-light'></div>
                     <div class='col6 pad1 fill-light'></div>
                 </div>
                 <div class='pad1y pad2x clip mobile-cols'>
                   <div class='textline col5'></div>
                   <div class='textline col7'></div>
                   <div class='textline col7'></div>
                   <div class='textline col2'></div>
                   <div class='textline col4'></div>
                   <div class='textline col7'></div>
                   <div class='textline col2'></div>
                   <div class='textline col3'></div>
                   <div class='textline col7'></div>
                   <div class='textline col7'></div>
                   <div class='textline col3'></div>
                   <div class='textline col5'></div>
                   <div class='textline col7'></div>
                   <div class='textline col3'></div>
                   <div class='textline col2'></div>
                   <div class='textline col4'></div>
                   <div class='textline col2'></div>
                 </div>
               </div>
             </div>
           </div>
           <div class='device-details'></div>
         </div>
       </div>
     </div>
   </div>

   <div class='clearfix'>

     <div class='clearfix space-bottom noprint'>
       <div class='col6'>
         <h3 class='pad1y'>Projects </h3>
       </div>
       <div class='col6 text-right'>
         <a href='../editor/index.html#app' id='new-project' class='fr col6 new-project hide-mobile button icon plus'>Create project </a>
       </div>
     </div>

     <fieldset class='space-bottom1 col12 with-icon quiet'>
       <span class='icon search'></span>
       <input id='list-filter' class='round project-search clean stretch' placeholder='Filter' type='text' />
       <small class='pin-right animate list-info quiet'><span id='counter' class='hide-mobile inline pad0x'>0 results sorted by  </span><span id='sort' class='align-middle inline'>
         <div class='rounded-toggle clearfix'>
           <input id='projects-sort-name' type='radio' name='projects-sort-toggle' value='name' />
           <label for='projects-sort-name' class='animate'>name </label>
           <input id='projects-sort-date' type='radio' name='projects-sort-toggle' value='date' />
           <label for='projects-sort-date' class='animate'>date </label>
         </div>
       </span></small>

     </fieldset>

     <div id='project-empty' class='center pad4y space-bottom'>
       <div class='inline big-graphic illustration space-bottom'></div><br />
       <small class='quiet'>Create a  <a href='../editor/index.html#app'>new project </a> in your account </small>
     </div>

     <ul id='all-projects' class='with-search listing contain load-container'></ul>
   </div>
 </div>

 <script id='counter-value' type='text/html'><strong><%= count %></strong> results sorted by </script>

 <script id='sort-value' type='text/html'>
  <div class='rounded-toggle clearfix'>
    <input id='projects-sort-name' type='radio' name='projects-sort-toggle' value='name' <% if (obj.sort === 'name') { %>checked='checked'<% }%> >
    <label for='projects-sort-name' class='animate'>name</label>
    <input id='projects-sort-date' type='radio' name='projects-sort-toggle' value='date' <% if (obj.sort === 'date') { %>checked='checked'<% }%> >
    <label for='projects-sort-date' class='animate'>date</label>
  </div>
</script>

 <script id='template-projects' type='text/html'>
  <%
  var list = obj.projects.chain()
    .filter(function(m) {
      return !obj.filter ||
      m.get('name').toLowerCase().indexOf(obj.filter) >= 0 ||
      m.id.indexOf(obj.filter) >= 0 })
    .sortBy(function(m) {
      switch (obj.sort) {
        case 'date':
          return -m.get('created');
          break;
        case 'name':
          return m.get('name').toLowerCase();
          break;
        default:
          return m.get('created');
      }});

  var counter = list.map(function(m, i) {
      if (i >= obj.limit) return true;
      print(App.template('template-project-item')(m));
      return m;
    }).value().length;

  $('#counter').html(App.template('counter-value')({ count: counter }));
  %>
  <% if (obj.limit < list.size().value()) { %>
  <li class='center clearfix'>
    <a href='#nextpage' class='margin4 col4 button round-bottom icon plus js-nextpage quiet'>View more</a>
  </li>
  <% } %>
</script>

 <script id='template-project-item' type='text/html'>
<li class='fill-darken0 contain clip animate space-bottom1 round' data-item='item-<%= cid %>' data-id='<%=obj.id%>'>
  <div class='z10 contain list-heading'>

    <a title='Open <%= escape("name") || "Untitled project" %>' href='/editor/?id=<%=id%>#project' class='primary-action block contain'>
        <span class='clip contain small-graphic align-top inline animate map-canvas'>
          <span class='pin-topleft map-thumb data-thumb small-graphic pad1' style='background-image:url(<%=App.tileApi%>/v4/<%=id%>/<%=get('center') && get('center').join(',')%>/80x80.png?<%=get('created')||0%>&access_token=<%=App.accessToken%>);'>
            <span class='icon dot pad1 fill-darken1 folder dark inline'></span>
          </span>
        </span><!--
     --><div class='inline pad1 small align-top strong truncate'><%= escape('name') || 'Untitled project' %></div>
    </a>
    <div class='pin-bottomleft list-subhead'>
      <span class='code quiet small' title='Map ID'><%=id%><span title='Copy Map ID to clipboard' data-clipboard-text='<%=id%>' class='hide-mobile quiet inline icon clipboard js-clipboard'></span></span>
    </div>
    <div class='heading-actions pad1y pin-right inline'>
      <% if (get('created')) { %>
        <span class='hide-mobile inline quiet small'>
        <% if (obj.admin) { %>
          <%= (new Date(get('created'))).format('M j g:ia') %>
        <% } else { %>
          <%= (new Date(get('created'))).format('M j Y') %>
        <% } %>
        </span>
      <% } %>
      <a href='#' title='View statistics' class='quiet inline icon pad1 js-stats round graph'></a><!--
   --><a href='<%=App.tileApi%>/v4/<%=id%>/page.html?access_token=<%=App.user.accessToken%>' target='_blank' title='Share project' class='list-action quiet inline icon pad1 round share'></a><!--
   --><a href='#' title='Delete' class='js-del-project icon quiet trash pad1 inline round'></a>
    </div>

  </div>

  <div class='round-bottom details fill-darken0 contain clip animate'>
    <div class='stats graph-statistics'>
     <a href='#refer' class='pad1 text-right clearfix col2 js-referrers hide-mobile small pin-bottom'><span class='pad0 inline'>View Referrers</span></a>
    </div>
  </div>
</li>
</script>

 <script type='text/html' id='template-modal-onboardsurvey'>
<form id='modal-onboardsurvey' class='modal-popup' method='post'><div class='limiter'>
  <div class='col8 modal-body clearfix contain round'>
    <a href='#close' class='dark quiet pad1 icon fr close'></a>
    <div class='pad2y pad4x round-top fill-blue dark'>
      <h3 class='fancy'>Tell us about yourself!</h3>
      <p class='prose prose-big'>Pick the label you identify with most so we can provide you with the best Mapbox experience.</p>
    </div>
    <div class='survey-personas fill-blue pad2x dark clearfix radio-pill col12'>
      <input name='persona' type='radio' value='skipped' class='hidden' checked>
      <input name='persona' type='radio' value='designer' id='designer'>
      <label for='designer'         class='unround button col3 pad2 space-bottom2'>
        <div class='persona-designer persona-illustration col12 dot fill-darken1 space-bottom1 fl'></div>
        <div>Designer</div>
      </label>

      <input name='persona' type='radio' value='web-developer' id='web-developer'>
      <label for='web-developer'    class='unround button col3 pad2 space-bottom2'>
        <div class='persona-web-developer persona-illustration col12 dot fill-darken1 space-bottom1 fl'></div>
        <div>Web developer</div>
      </label>

      <input name='persona' type='radio' value='mobile-developer' id='mobile-developer'>
      <label for='mobile-developer' class='unround button col3 pad2 space-bottom2'>
        <div class='persona-mobile-developer persona-illustration col12 dot fill-darken1 space-bottom1 fl'></div>
        <div>Mobile developer</div>
      </label>

      <input name='persona' type='radio' value='gis-developer' id='gis'>
      <label for='gis'              class='unround button col3 pad2 space-bottom2'>
        <div class='persona-gis persona-illustration col12 dot fill-darken1 space-bottom1 fl'></div>
        <div>GIS</div>
      </label>
    </div>
    <div class='pad2y pad4x round-bottom fill-white clearfix'>
      <div class='pill margin2 col8'>
        <a href='#' class='button col6 quiet js-submit-survey js-skip-survey'>Skip</a>
        <a href='#' class='button col6 js-submit-survey'>Submit</a>
      </div>
    </div>
  </div></div>
</form>
</script>

 <script type='text/html' id='template-modal-referrers'>
<div id='modal-referrers' class='modal-popup limiter' method='post'>
  <div class='col8 modal-body fill-white contain round'>
    <a href='#close' class='quiet pad1 icon fr close'></a>
    <div class='pad2y pad4x'>

      <h2 class='center'>
          Referrers to <%= obj.label %> between<br />
          <%= new Date(obj.formattedPeriod[0]).format('M j, Y') %> and
          <%= new Date(obj.formattedPeriod[1]).format('M j, Y') %>
      </h2>

      <div class='pad2y'>
        <% if (obj.mapview.hosts && obj.mapview.hosts.length) { %>
        <table class='keyline-top keyline-left keyline-right'>
          <thead>
            <tr class='fill-darken0'>
              <th class='pad1x'>Hostname</th>
              <th class='pad1x'>Views</th>
            </tr>
          </thead>
          <% var i = 0; %>
          <% _(obj.mapview.hosts).each(function(host) { %>
          <tr>
            <td class='pad1x'><%= host.name || 'unknown' %></td>
            <td class='pad1x'><%= host.amount %></td>
          </tr>
          <% }); %>
        </table>
        <% } else { %>
          <p class='center'>No referring websites recorded in this time period.</p>
        <% } %>
      </div>
    </div>
  </div>
</div>
</script>

 <script src='projects.js'></script>
 </div>

 <div class='footer pad4y clearfix hide-mobile fill-light'>
   <div class='limiter'>
    <div class='clearfix'> 
     <div class='col8 small mobile-cols'>
       <div class='col12 clearfix'>
         <div class='col3'>
          
           <a id='footer-design' class='space-bottom0 col12 strong' href='../design/index.html'>Design </a>
          
           <a id='footer-data' class='space-bottom0 col12 strong' href='../data-platform/index.html'>Data </a>
          
           <a id='footer-developers' class='space-bottom0 col12 strong' href='../developers/index.html'>Developers </a>
          
           <a id='footer-showcase' class='space-bottom0 col12 strong' href='../showcase/index.html'>Showcase </a>
          
           <a id='footer-enterprise' class='space-bottom0 col12 strong' href='../enterprise/index.html'>Enterprise </a>
          
         </div>
         <div class='col3'>
          
           <a id='footer-plans' class='space-bottom0 col12 quiet strong' href='../plans/index.html'>Plans </a>
          
           <a id='footer-blog' class='space-bottom0 col12 quiet strong' href='../blog/index.html'>Blog </a>
          
           <a id='footer-help' class='space-bottom0 col12 quiet strong' href='../help/index.html'>Help </a>
          
           <a id='footer-status' class='space-bottom0 col12 quiet strong' href='../status/index.html'>Status </a>
          
           <a id='footer-contact' class='space-bottom0 col12 quiet strong' href='../contact/index.html'>Contact </a>
          
         </div>
         <div class='col3'>     
          
           <a id='footer-about' class='space-bottom0 col12 quiet strong' href='../about/index.html'>About </a>
          
           <a id='footer-team' class='space-bottom0 col12 quiet strong' href='../about/team/index.html'>Team </a>
          
           <a id='footer-jobs' class='space-bottom0 col12 quiet strong' href='../jobs/index.html'>Jobs </a>
          
           <a id='footer-press' class='space-bottom0 col12 quiet strong' href='../about/press/index.html'>Press </a>
          
           <a id='footer-press-kit' class='space-bottom0 col12 quiet strong' href='../about/press-kit/index.html'>Press Kit </a>
          
         </div>
          <div class='col3'>
            <div class='space-bottom0 strong'>Tools </div>
          
           <a id='footer-studio' class='space-bottom0 col12 quiet strong' href='../mapbox-studio/index.html'>Studio </a>
          
           <a id='footer-maki' class='space-bottom0 col12 quiet strong' href='../maki/index.html'>Maki </a>
          
         </div>
       </div>
     </div>

     <div class='col4 footer-social'>
       <div class='animate footer-animation col6'></div>
       <div class='footer-dialog fr small strong quiet pad2 col6 contain round fill-gray'>
      Follow Mapbox on  <a href='https://twitter.com/mapbox'>Twitter </a>,  <a href='https://www.facebook.com/Mapbox'>Facebook </a>, and  <a href='https://instagram.com/mapbox'>Instagram </a>.
       </div>
     </div>  
   </div>
   </div>

   <div class="limiter industries-footer">
   <p class='space-bottom1 strong small space-top2 industries-footer-title'>Industries </p>
   <div class='clearfix pad2y pad4x fill-gray round space-bottom4 industries-footer'>
         <div class='clearfix'>
            <div class='col3'>
            
             <a id='footer-real-estate' class='space-bottom0 col12 strong quiet small' href='../industries/realestate/index.html'>Real Estate </a>
            
             <a id='footer-transportation' class='space-bottom0 col12 strong quiet small' href='../industries/transportation/index.html'>Transportation </a>
            
             <a id='footer-agriculture' class='space-bottom0 col12 strong quiet small' href='../industries/agriculture/index.html'>Agriculture </a>
            
           </div>
            <div class='col3'>
            
             <a id='footer-social' class='space-bottom0 col12 strong quiet small' href='../industries/social/index.html'>Social </a>
            
             <a id='footer-government' class='space-bottom0 col12 strong quiet small' href='../industries/government/index.html'>Government </a>
            
             <a id='footer-fitness-&amp;-outdoors' class='space-bottom0 col12 strong quiet small' href='../industries/outdoors/index.html'>Fitness &amp; outdoors </a>
            
           </div>
            <div class='col3'>
            
             <a id='footer-finance' class='space-bottom0 col12 strong quiet small' href='../industries/finance/index.html'>Finance </a>
            
             <a id='footer-insurance' class='space-bottom0 col12 strong quiet small' href='../industries/insurance/index.html'>Insurance </a>
            
             <a id='footer-natural-resources' class='space-bottom0 col12 strong quiet small' href='../industries/naturalresources/index.html'>Natural Resources </a>
            
           </div>
           <div class='col3'>
            
                 <a id='footer-security' class='space-bottom0 col12 strong quiet small' href='../industries/security/index.html'>Security </a>
            
                 <a id='footer-health' class='space-bottom0 col12 strong quiet small' href='../industries/health/index.html'>Health </a>
            
                 <a id='footer-media' class='space-bottom0 col12 strong quiet small' href='../industries/media/index.html'>Media </a>
            
           </div>
          </div> 
       </div>
   </div>

   <div class='limiter newsletter-copyright clearfix'>
   <div class='col8 contain newsletter'>
         <form id='newsletter' method='post'>
           <fieldset class='clearfix input-pill col10 pill mobile-cols with-icon'>
             <span class='icon mail quiet'></span>
             <input type='text' value='' placeholder='Sign up for our newsletter' name='email' class='col9 required email' />
             <input type='submit' value='Subscribe' class='col3 quiet' />
           </fieldset>
         </form>
        </div> 

       <div class='col4 footer-copyright small space-top1 col4 noprint fill-light contain'>
           <div class='pin-right'>
             <a href='../tos/index.html'>Terms </a> +
             <a href='../privacy/index.html'>Privacy </a>
            &copy; Mapbox
           </div>
       </div>
   </div>

 </div>

 <div class='footer-copyright small center noprint fill-light show-mobile'>
   <div class='limiter'>
     <div class='pad2y'>
             <a href='../tos/index.html'>Terms </a> +
             <a href='../privacy/index.html'>Privacy </a>
      &copy; Mapbox
     </div>
   </div>
 </div>



 <div id='modal-content' class='animate modal modal-content'></div>
 </div>
 </body>
 </html>
 