@media only screen and (max-width:640px) {
  .details .stats             { min-height: 240px; }
}

.active .list-heading .graph:before { opacity: .5;}

.studio-editor {
    background:url(../home/studio-editor-1.jpg) 50% 50% no-repeat;
    background-size:cover;
}

/* empty state */
#project-empty { display: none; }
