body {
	background: #000D20 url(sunrise-nosat.jpg) 0 0 no-repeat;
	background-size: 100%;
}

.sunrise h1{
  font-size: 50px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  /* margin-top: 60px; */
}

.sunrise img{
	margin-top: 40px;
}

.dual-image{
	height: 150px;
}

.dark-gradient {
	background: linear-gradient(to bottom, transparent 0%,#000 30%);
}

.fill-black {
	background: rgba(0,0,0,0.9);
}

.custom-image {
	margin-top: -140px;
}

.custom-imagery {
	background: url(https://farm6.staticflickr.com/5470/9555468027_47ba3493ec_o.jpg) 0 0 no-repeat;
	background-size: cover;
	height: 600px;
	margin-top: 160px;
}

.prose table th,
.prose table td {
	border-color: #02234D;
	padding: 15px;
}

.prose table th {
	background: #000;
	font-size: 18px;
}

.prose .keyline-top,
.keyline-right,
.keyline-bottom,
.keyline-left {
	border-color: rgba(89,135,169,0.4);
}

.button.big {
  font-size:18px;
}

@media (max-width:790px) {
	.sunrise h1 {
		font-size: 24px;
	}

}